<div class="title">
  <h1>Carte des lieux et centres</h1>
</div>
<div class="conteuneurMap">
  <div class="map-wrap">
    <div class="map" #map></div>
  </div>
  <div class="legendes">
    <ul>
      <li>
        <div class="legende">
          <div class="legende-icon">
            <img src="assets/img/icon/marker-lieu.png" alt="" />
          </div>
          <div class="legende-text">Lieu partenaire</div>
        </div>
      </li>
      <li>
        <div class="legende">
          <div class="legende-icon">
            <img src="assets/img/icon/marker-centre.png" alt="" />
          </div>
          <div class="legende-text">Centre de santé</div>
        </div>
      </li>
    </ul>
  </div>
</div>
