.map-wrap {
    margin-top: 2em;
    // position: relative;
    width: 80%;
    height: calc(100vh - 25vh); /* calculate height of the screen minus the heading */
  }
  
  .map {
    // position: absolute;
    width: 100%;
    height: 100%;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .title h1{
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    font-size: 2.75em;
}
.conteuneurMap{
    display:flex;
}
.legendes ul, .legendes .card-container{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}


.legendes ul li{
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.legende-icon img{
    width: 20px;
    height: 20px;
}
.legendes{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.legende{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 1em;
}

:host ::ng-deep{
  .mat-card{
    // padding: 0;
    background: #fff;
    color:#424242;
  }
  .mat-card-header-text{
    
    margin: 0;
  }
 
}

.card-conteuneur{
  width: 95%;
  margin: 0 auto;
  height: 100px;
  position: relative;
}

.img-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../../../assets/img/centre.jpg');
    // position: relative;
}
.txt-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

