<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <span class="navbar-brand" id="logoPart">
      <a routerLink="/">
        <div>
          <img src="assets/img/icon/novid_sbg.png" alt="" />
        </div>
      </a>
    </span>
    <span class="space"></span>
    <div class="navbar-links">
      <ul class="navbar-list">
        <li>
          <a [routerLink]="['/tdb']" routerLinkActive="active">
            Tableau de bords
          </a>
        </li>

        <li>
          <a [routerLink]="['/carte']" routerLinkActive="active"> Carte </a>
        </li>

        <li>
          <a [routerLink]="['/place']" routerLinkActive="active">
            Lieux partenaires
          </a>
        </li>
      </ul>
    </div>
    <span class="space"></span>
    <span class="navbar-brand">
      <a routerLink="/"> #NoVid19 </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="conteuneur">
  <router-outlet></router-outlet>
</div>
