// !NAVBAR
.navbar{
    background-color: #0b4f8d;
    // background-color: #FFD098;
    color:  white;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand a{
    color: white;
    text-decoration: none;
   
    
}
.navbar-brand a div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand a img{ 
    width:2.5rem
}
.space {
    flex: 1 1 auto;
  }
#logoSpan{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: block;
}
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.navbar-list li{
    list-style: none;
}
.navbar-list li a{
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

mat-toolbar-row{
    width: 80%;
    margin: 0 auto;
}

//! CONTEUNEUR
.conteuneur{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}