<div class="title">
  <h1>Liste des lieux partenaires</h1>
</div>
<div class="tableau">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nom_lieu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.nom_lieu }}</td>
    </ng-container>

    <ng-container matColumnDef="adresse_lieu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
      <td mat-cell *matCellDef="let element">{{ element.adresse_lieu }}</td>
    </ng-container>

    <ng-container matColumnDef="statut_lieu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statuts</th>
      <td mat-cell *matCellDef="let element" class="qrcodestyle">
        {{ getStatuts(element.statut_lieu) }}
        <ngx-qrcode
          value="{{ element.id_lieu }}"
          cssClass="qrcodeshadow"
        ></ngx-qrcode>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of lieu"
  >
  </mat-paginator>
</div>
