.home-conteuneur{
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    width: 100%;
    height: calc(100vh - 10em);
}

.home-text{
    width: 40%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.home-text h1{
    font-size: 3rem;
font-weight: 700;
line-height: 3.5rem;
color: #2e368f;
}

.home-text p{
    margin-top: 3rem;
    font-size: 1.2rem;
}

.home-image{
    width: 60%;
    background-image: url('../../assets/img/undraw_connected_world_wuay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}